<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
 <div class="container">
  <a class="navbar-brand" href="#">Navbar</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/"  routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/agGridDefault"  routerLinkActive="active">ag-Grid Default Component</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/agGridCustomisedHeaderComponent" routerLinkActive="active">Ag-Grid Customised Header Component</a>
      </li>

      <!-- Cell renderer ==> replaces Pipe for formatting data -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/agGridCellRenderer" routerLinkActive="active"> Cell Renderer (~Pipe) </a>
      </li>

       <!-- Filters -->
       <li class="nav-item">
        <a class="nav-link" routerLink="/agGridFilters" routerLinkActive="active"> Filters </a>
      </li>

       <!-- Export -->
       <li class="nav-item">
        <a class="nav-link" routerLink="/agExport" routerLinkActive="active"> Export & Inline-Editing </a>
      </li>

       <!-- row selection -->
       <li class="nav-item">
        <a class="nav-link" routerLink="/agRowSelection" routerLinkActive="active">Row Selection </a>
      </li>

       <!-- pagination -->
       <li class="nav-item">
        <a class="nav-link" routerLink="/agPagination" routerLinkActive="active">Pagination </a>
      </li>

    </ul>
  </div>
 </div>
</nav>

<router-outlet ></router-outlet>


